/* Общие стили */
body {
    margin: 0;
    overflow: hidden;
}

/* Холст */
#globe {
    display: block;
}

/* Информационное окно */
/* Стили для информационного окна */
#infoBox {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    background: rgba(101, 91, 180, 0.8);
    color: #9162c3;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 100;
    font-family: Arial, sans-serif;
    border-radius: 12px !important;
    overflow: hidden;
}

#infoBox.show {
    opacity: 1;
    transform: translateY(0);
}

#infoBox.collapsed .info-content {
    display: none;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #543c7c;
}

.info-header h2 {
    margin: 0;
    font-size: 18px;
}

.info-content {
    padding: 10px;
    font-size: 14px;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

#toggleBtn {
    width: 100%;
    padding: 10px;
    background: #444;
    color: #9b58c0;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#toggleBtn:hover {
    background: #555;
}
